<nav id="nav-left">
    <a class="text-center logo-nav-left" href="{{ path('employees_dashboard') }}"><i class="fas
    fa-tachometer-alt
    fs-4"></i></a>
    <a class="text-center logo-nav-left" href="{{ path('employees_commande') }}"><i class="fas
    fa-clipboard fs-4"></i></a>
    <a class="text-center logo-nav-left" href="{{ path('employees_production') }}"><i class="fas
    fa-industry fs-4"></i></a>
    <a class="text-center logo-nav-left" href="{{ path('employees_expeditions') }}"><i class="fas fa-truck fs-4"></i></a>
    <a class="text-center logo-nav-left" href="{{ path('employees_admin') }}"><i class="fas
    fa-user-shield fs-4"></i></a>
</nav>
<nav id="nav-left-under">
    <a class="description-nav-left" href="{{ path('employees_dashboard') }}">Dashboard</a>
    <a class="description-nav-left" href="{{ path('employees_commande') }}">Commande</a>
    <a class="description-nav-left" href="{{ path('employees_production') }}">Production</a>
    <a class="description-nav-left" href="{{ path('employees_expeditions') }}">Expédition</a>
    <a class="description-nav-left" href="{{ path('employees_admin') }}">Admin</a>
</nav>